# Общие файлы
.DS_Store
.vscode/
*.log

# Бэкенд (Go)
/backend/bin/
*.exe
*.test
/backend/vendor/

# Фронтенд (JavaScript)
/frontend/node_modules/
/frontend/dist/
/frontend/.envgit push -u origin main
.idea/

*.env